# Import

In [3]:
import pandas as pd

file = "./hr-employee-attrition-with-null.csv"
df = pd.read_csv(file)

# Inspect Data

In [6]:
print(df.head())

   Unnamed: 0   Age  Attrition  BusinessTravel  DailyRate  Department  \
0           0  41.0          1               2        NaN          -1
1           1   NaN          0              -1      279.0           1
2           2  37.0          1              -1     1373.0          -1
3           3   NaN          0               1     1392.0           1
4           4  27.0          0               2      591.0           1

   DistanceFromHome  Education  EducationField  EmployeeCount  ...  \
0               1.0        NaN               1            1.0  ...
1               NaN        NaN               1            1.0  ...
2               2.0        2.0              -1            1.0  ...
3               3.0        4.0               1            NaN  ...
4               2.0        1.0               3            1.0  ...

   RelationshipSatisfaction  StandardHours  StockOptionLevel  \
0                       1.0           80.0               0.0
1                       4.0            NaN               1.0
2                       NaN           80.0               0.0
3                       3.0            NaN               NaN
4                       4.0           80.0               1.0

   TotalWorkingYears  TrainingTimesLastYear  WorkLifeBalance  YearsAtCompany  \
0                8.0                    0.0              NaN             6.0
1               10.0                    NaN              3.0            10.0
2                7.0                    3.0              NaN             NaN
3                8.0                    3.0              NaN             8.0
4                6.0                    NaN              3.0             2.0

   YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                 NaN                      0.0                   NaN
1                 NaN                      NaN                   7.0
2                 0.0                      NaN                   0.0
3                 NaN                      3.0                   0.0
4                 2.0                      2.0                   NaN

[5 rows x 35 columns]

# Clean Data

In [5]:
df.loc[df["Attrition"] == "no", "Attrition"] = 0.0
df.loc[df["Attrition"] == "yes", "Attrition"] = 1.0
cat_cols = df.select_dtypes(include=['object', 'category']).columns
for col in cat_cols:
   df[col] = pd.Categorical(df[col]).codes

df = df.drop(columns = "EmployeeNumber")

In [ ]:
df_test = df.groupby('Attrition').sample(frac=0.1, random_state=42)
df_train = df.drop(df_test.index)

In [ ]:
# remove NaN values
train_col_no_nan = train_set[~np.isnan(train_set[col])]
# bin the data into 40 equally spaced bins
# hist is the count for each bin
# bin_edge is the edge values of the bins
hist, bin_edge = np.histogram(train_col_no_nan, 40)
# make sure to import matplotlib.pyplot as plt
# plot the histogram
plt.fill_between(bin_edge.repeat(2)[1:-1],hist.repeat(2),facecolor=’steelblue’)
plt.show()